
@media (min-width: 768px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr 281px minmax(auto, 1038px) 1fr;
        padding-bottom: 100px;
    }

    .header__leftside-mob {
        display: none;
    }

    .header__logo-wrap_desk {
        grid-column: 2 / 3;
        display: block;
    }

    .header__search {
        justify-content: space-between;
    }

    .header__account-wrap {
        display: block;
    }

    .sidebar {
        display: block;
    }
}

@media (min-width: 723px) {
    .questions__item {
        max-width: 330px;
    }

    .footer {
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 865px) minmax(auto, 454px) 1fr;
    }

    .footer__left-side {
        grid-column: 2 / 3;
    }

    .footer__desc {
        display: block;
    }
}

@media (min-width: 575px) {
    .image__item-desc {
        display: block;
        width: 100%;
    }

    .image__item-mob {
        display: none;
    }
}
