.colors {
    &__items {
        display: flex;
        margin-top: 8px;
    }

    &__title {
        font-weight: 400;
        font-size: 14px;
    }

    &__item {
        -webkit-appearance: none;
        appearance: none;
        display: none;

        &:checked + .colors__label {
            background-color: #d6ecfb;
            border: 1px solid #d6ecfb;
            color: $main-color;
        }
    }

    &__label {
        @include br(8px);

        padding: 8px;
        border: 1px solid rgba(28, 24, 25, 0.1);
        margin-right: 8px;
        display: flex;
        color: $accent-color;
    }

    &__blue {
        &::before {
            @include br(4px);

            content: '';
            display: block;
            width: 23px;
            height: 24px;
            margin-right: 8px;
            background: $shirt-color-blue;
        }
    }

    &__beige {
        &::before {
            @include br(4px);

            content: '';
            display: block;
            width: 23px;
            height: 24px;
            margin-right: 8px;
            background: $shirt-color-beige;
        }
    }

    &__grey {
        &::before {
            @include br(4px);

            content: '';
            display: block;
            width: 23px;
            height: 24px;
            margin-right: 8px;
            background: $shirt-color-grey;
        }
    }
}
